api:
  dashboard: true

ping:
  entryPoint: traefik

log:
  level: WARN

accessLog:
  format: json
  fields:
    defaultMode: keep
    headers:
      defaultMode: drop
      names:
        User-Agent: keep
        Content-Type: keep
        X-Forwarded-For: keep
        X-Real-Ip: keep

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      middlewares:
        - security-headers@file
        - rate-limit@file
        - compress@file
        - in-flight-req@file

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: web
  file:
    directory: /traefik/dynamic
    watch: true

certificatesResolvers:
  myresolver:
    acme:
      storage: /acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      keyType: RSA4096
      httpChallenge:
        entryPoint: web
